{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js"></script>
<script type="text/javascript">
    function gotStream(stream) {

        var video = document.getElementById('camera');
        var videoTracks = stream.getVideoTracks();
        window.stream = stream; // make variable available to browser console
        video.srcObject = stream;
    }
    function onfail(error) {
        console.log("permission not granted or system don't have media devices."+error.name);
    }
    navigator.getUserMedia({audio:true,video:true}, gotStream,onfail);
</script>
{% endblock %}

{% block contents %}
<!-- Navbar Menu  -->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/.">
        <img src="{% static 'images/READ.png'%}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/video">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/subscribe">Subscribe</a>
        </li> 
        </ul>
    </div>
    </nav>
</section>

<br><br><br>

<!--- Video detail ---->
<section id="videoDetail">
    <div class="container">
    <h3 class="title text-center">{{ video.name }}</h3>
    <br>
    <div class="text-center">
    <div class="cover-container d-flex p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <br>                
        <video id="vid" width="700px" controls>
            <source src="{{ video.path }}" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <br>
        <div class="progress container" id="state" style="width:700px;">
        </div>
        <script>
          var reaction = '{{ user_reaction.reaction }}';
          var obj = JSON.parse(reaction.replace(/&quot;/g,'"'));
          var duration = obj.duration;
          var time = obj.time;
          var each_width = 100/duration;
          var temp ='';
          for(var i = 0; i < time.length; i++){
            switch(time[i]){
              case 0: // Concentrate
                temp += '<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:' + each_width + '%; background-color:#1DC914 !important;"></div>';
                break;
              case 1: // Don't concentrate
                temp += '<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:' + each_width + '%; background-color:#FF4242 !important;"></div>';
                break;
              case -1: // Detect Nothing
                temp += '<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:' + each_width + '%; background-color:#7A7A7A !important;"></div>';
                break;
              case -2: // there ins't person
                temp += '<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:' + each_width + '%; background-color:#7A7A7A !important;"></div>';
                break;
              case -3: // need to closer to camera
                temp += '<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:' + each_width + '%; background-color:#C1C400 !important;"></div>';
                break;

            }
          }
          document.getElementById('state').innerHTML = temp;
        </script>
        <br>
        <br>
        <p class="lead">{{ video.description|safe }}</p>        
        <br>
        <video id="camera" autoplay="" hidden></video>
        <canvas id="snapshot" width=640 height=480 hidden></canvas>

      </main>
      <br>
      <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-danger" onclick="location.href='javascript:history.back()'">뒤로가기</button>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    </div>
    <br><br><br>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script> 
var vid = document.getElementById("vid"); 
var timeout = null

// When video is finsihed, uploading stops.
vid.onended = function(){
  clearTimeout(timeout)
  window.location.href = 'http://127.0.0.1:8000/result';
}


// ref: https://developers.google.com/web/fundamentals/media/capturing-images/?hl=ko
var player = document.getElementById('camera'); 
var snapshot = document.getElementById('snapshot');

// make current time of video
function videoCurrentTime(){
  var current = vid.currentTime.toFixed(2).toString();
  return current;
}

// make name of image file (current date time '-' current video time)
function dateCurrentTime(){
  var now = new Date().getTime().toString();
  return now;
}

// dataURL(base64) converts to image file.
function dataURLtoFile(dataurl, filename) {
    var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
    while(n--){
        u8arr[n] = bstr.charCodeAt(n);
    }
    return new File([u8arr], filename, {type:mime});
}

function captureWebcam(){
  // video that is related by data under here is camera view video
  var context = snapshot.getContext('2d');
  // Draw the video frame to the canvas.
  context.drawImage(player, 0, 0, snapshot.width, 
      snapshot.height);

  var videoCurrent = videoCurrentTime();
  var dateCurrent = dateCurrentTime();
  var title = videoCurrent + "-" + dateCurrent + ".png";
  var cover = dataURLtoFile(snapshot.toDataURL("image/png"), title);

  var form = new FormData();
  form.append("user", "{{ user }}" );
  form.append("video", "{{ video.pk }}" );
  form.append("currentTime", videoCurrent);
  form.append("path", title);
  form.append("cover", cover);
  form.append("duration", vid.duration);


  // ajax (POST)
  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "http://127.0.0.1:8000/upload/",
    "method": "POST",
    "processData": false,
    "contentType": false,
    "mimeType": "multipart/form-data",
    "data": form,
    success: function(){
      $('.result').html();
    },
    complete: function(){
      // 10 sec --> upload
      // If change, must change face_analyzer.py --> duration 264
      timeout = setTimeout(captureWebcam, 10000);
    }
  }

  $.ajax(settings).done(function (response) {
    console.log(response);
  });
}

// play the video
vid.onplay = function(){
  timeout = setTimeout(captureWebcam, 10000);
}

 // pause the video
vid.onpause = function(){
  clearTimeout(timeout); // uploading stops.
}

var handleSuccess = function(stream) {
  // Attach the video stream to the video element and autoplay.
  player.srcObject = stream;
};

navigator.mediaDevices.getUserMedia({video: true})
    .then(handleSuccess);

 
</script> 
{% endblock %}
