{% extends "base.html" %}
{% load static %}

{% block contents %}
    <!-- Navbar Menu  ---->
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" href="/.">
           <img src="{% static 'images/READ.png'%}" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars"></i>
         </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
          
            <!-- wallet button --->
            <button type="button" 
                  class="btn btn-info pull-right" 
                  id="login" 
                  data-toggle="modal"
                  data-target="#loginModal">
                  Wallet Login
                  </button>

                  <button type="button" 
                  class="btn btn-info pull-right" 
                  id="logout" 
                  style="display: none;"
                  onclick="App.handleLogout()">
                  Wallet Logout
                  </button>

            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if name %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/video">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/subscribe">Subscribe</a>
                </li> 
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign up</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>

    <script type="text/javascript" src="{% static 'js/bundle.js'%}"></script>
    <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">         
          <div class="modal-body">
            <div class="form-group">
              <label for="keystore">Keystore</label>
              <input type="file" id="keystore" onchange="App.handleImport()">
            </div>
            <div class="form-group">
              <label for="input-password">비밀번호</label>
              <input type="password" class="form-control" id="input-password" onchange="App.handlePassword()">
              <p class="help-block" id="message"></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary" id="submit" onclick="App.handleLogin()">제출</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--- Banner Hero section ------>
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% if name %}
              <p class="promo-title"> Welcome ! {{ name }} !</p>
            {% else %}
              <br><br><br><br><br><br>
            {% endif %}
            <p class="join-title"><b>READ System</b></p>
            <p class="join-title">Beyond traditional video services.</p>
            <p class="join-title">New video service, READ.</p>
            <a href="#" class="link-play">
              <img src="{% static 'svg/play.svg'%}" alt="" class="play-btn">Watch Demo video
            </a>
          </div>
            <div class="col-md-6">
              <img src="{% static 'svg/undraw_email_campaign_qa8y.svg'%}" alt="" class="img-fluid">
            </div>
        </div>
      </div>
        <!--- Background wave Hero ---->
        <img src="{% static 'images/ground@-min.png'%}" class="bottom-img" alt="">
    </section>

    <!--- Services ---->
    <section id="services">
      <div class="container text-center">
        <h3 class="title text-center">SERVICES</h3>
        <div class="row text-center">
          <div class="col-md-4 services">
            <img src="{% static 'svg/analyze.svg'%}" class="service-img"   alt="">
            <h4>Analze behaviors</h4>
            <p>When you take a Lecture, your webcam automatically turns on to analyze your learning attitude over time.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'images/graph.png'%}" class="service-img"   alt="">
            <h4>Visualization</h4>
            <p>Graph your analysis of learning behaviors at a glance for easy viewing.
            </p>
          </div>
          <div class="col-md-4 services">
            <br>
            <img src="{% static 'images/learning.png'%}" class="service-img"   alt="">
           <br>
            <h4>Lecture evaluation</h4>
            <p>Lecture provider can see what part of the lecture is missing while obseving the concentration of user's video time zone
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'images/self.png'%}" class="service-img"   alt="">
            <h4>self directed learning</h4>
            <p>Provides an optimized platform of self-directed learning ,While offering user's own shortcomings
              
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'images/temperature.png'%}" class="service-img"   alt="">
            <h4>Learning environment</h4>
            <p>When you view a lecture, you can examine the environment to find out the best environment for your study.
            </p>
          </div>
          <!---
          <div class="col-md-4 services">
          <img src="{% static 'svg/undraw_wireframing_nxyi.svg'%}" class="service-img"   alt="">
            <h4>SEO</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        -->
        </div>
      
        <button type="button" class="btn btn-primary"  name="button">Find Out More</button>
      </div>
    </section>
    <!--- About Section ------>
    <section id="about">
      <div class="container">
        <h3 class="title text-center">ABOUT US</h3>
        <div class="row">
          <div class="col-md-6 about">
            <p class="about-title">Internet Learning platform to help self-directed learning</p>
            <ul>
              <li>User's learning attitude analysis platform
                </li>
              <li>while signing up, we received a consent to provide webcam video for learning analysis.</li>
              <li>lecture providers can know the concentration level of the user's video time zone.</li>
              <li>The user can know the degree of concentration of one lecture or the entire lectures.</li>
              
            </ul>
          </div>
            <div class="col-md-6">
              <img src="{% static 'svg/undraw_mobile_marketing_iqbr.svg'%}" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </section>

    <!---  Testimonials Section  -
    <section id="testimonials">
      <div class="container">
        <h3 class="title text-center">TESTIMONIALS</h3>
        <div class="row offset-1">
          <div class="col-md-5 testimonials">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <img src="{% static 'images/test_person.jpg'%}"  alt="">
            <p class="user-details"><b>James</b><br>CEO at DIN</p>
          </div>
          <div class="col-md-5 testimonials">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <img src="{% static 'images/test_person.jpg'%}"  alt="">
            <p class="user-details"><b>William</b><br>Co-founder at ArtSpace</p>
          </div>
        </div>
      </div>
    </section>
  -->


{% comment %} <div style="background:transparent !important" class="jumbotron text-center">
    <h1 class="jumbotron-heading">{{name}}</h1>
    <p class="lead text-muted">졸업작품</p>
    <br>
    <p>
        {% if name %}
        <button class="btn btn-primary btn-block" onclick="location.href='/fcuser/logout'">{{ name }} - 로그아웃</button>
        <button class="btn btn-primary btn-block" onclick="location.href='/video'">비디오 목록</button>
        <button class="btn btn-primary btn-block" onclick="location.href='/subscribe'">구독 목록</button>
        {% else %}
        <a href="./login" class="btn btn-primary my-2">로그인</a>
        <a href="./register" class="btn btn-primary my-2">회원가입</a>
        {% endif %}
    </p>
</div> {% endcomment %}


{% endblock %}