{% extends "base.html" %}
{% load static %}

{% block contents %}
    <!-- Navbar Menu  ---->
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" href="/.">
           <img src="{% static 'images/READ.png'%}" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars"></i>
         </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if name %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/video">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/subscribe">Subscribe</a>
                </li> 
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign up</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>

    <!--- Banner Hero section ------>
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% if name %}
              <p class="promo-title"> Welcome ! {{ name }} !</p>
            {% else %}
              <br><br><br><br><br><br>
            {% endif %}
            <p class="join-title"><b>READ System</b></p>
            <p class="join-title">Beyond traditional video services.</p>
            <p class="join-title">New video service, READ.</p>
            <a href="#" class="link-play">
              <img src="{% static 'svg/play.svg'%}" alt="" class="play-btn">Watch Demo video
            </a>
          </div>
            <div class="col-md-6">
              <img src="{% static 'svg/undraw_email_campaign_qa8y.svg'%}" alt="" class="img-fluid">
            </div>
        </div>
      </div>
        <!--- Background wave Hero ---->
        <img src="{% static 'images/ground@-min.png'%}" class="bottom-img" alt="">
    </section>

    <!--- Services ---->
    <section id="services">
      <div class="container text-center">
        <h3 class="title text-center">SERVICES</h3>
        <div class="row text-center">
          <div class="col-md-4 services">
            <img src="{% static 'svg/undraw_website_setup_5hr2.svg'%}" class="service-img"   alt="">
            <h4>Landing Page Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/branding.svg'%}" class="service-img"   alt="">
            <h4>Online  Branding</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/ads.svg'%}" class="service-img"   alt="">
            <h4>Google Ads</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/undraw_Savings_dwkw.svg'%}" class="service-img"   alt="">
            <h4>PPC</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/social.svg'%}" class="service-img"   alt="">
            <h4>Social Media</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 services">
          <img src="{% static 'svg/undraw_wireframing_nxyi.svg'%}" class="service-img"   alt="">
            <h4>SEO</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <button type="button" class="btn btn-primary"  name="button">Find Out More</button>
      </div>
    </section>
    <!--- About Section ------>
    <section id="about">
      <div class="container">
        <h3 class="title text-center">ABOUT US</h3>
        <div class="row">
          <div class="col-md-6 about">
            <p class="about-title">Odio sed id eos et laboriosam consequatur eos earum soluta.</p>
            <ul>
              <li>Sint aliquam consequatur ex ex labore.</li>
              <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li>Aspernatur consectetur omnis numquam quaerat.</li>
              <li>Et vel ut quidem alias veritatis repudiandae ut fugit.</li>
              <li>Fugit ut maxime incidunt accusantium totam repellendus eum error. </li>
              <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            </ul>
          </div>
            <div class="col-md-6">
              <img src="{% static 'svg/undraw_mobile_marketing_iqbr.svg'%}" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </section>

    <!---  Testimonials Section  -->
    <section id="testimonials">
      <div class="container">
        <h3 class="title text-center">TESTIMONIALS</h3>
        <div class="row offset-1">
          <div class="col-md-5 testimonials">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <img src="{% static 'images/testimonials/testimonial-1.jpg'%}"  alt="">
            <p class="user-details"><b>James</b><br>CEO at DIN</p>
          </div>
          <div class="col-md-5 testimonials">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <img src="{% static 'images/testimonials/testimonial-3.jpg'%}"  alt="">
            <p class="user-details"><b>William</b><br>Co-founder at ArtSpace</p>
          </div>
        </div>
      </div>
    </section>



{% comment %} <div style="background:transparent !important" class="jumbotron text-center">
    <h1 class="jumbotron-heading">{{name}}</h1>
    <p class="lead text-muted">졸업작품</p>
    <br>
    <p>
        {% if name %}
        <button class="btn btn-primary btn-block" onclick="location.href='/fcuser/logout'">{{ name }} - 로그아웃</button>
        <button class="btn btn-primary btn-block" onclick="location.href='/video'">비디오 목록</button>
        <button class="btn btn-primary btn-block" onclick="location.href='/subscribe'">구독 목록</button>
        {% else %}
        <a href="./login" class="btn btn-primary my-2">로그인</a>
        <a href="./register" class="btn btn-primary my-2">회원가입</a>
        {% endif %}
    </p>
</div> {% endcomment %}


{% endblock %}